
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto'
}

html {
    height: 100%;
}

body {
    display: grid;
    position: relative;
    place-items:center; 
    /* height: 100%; */
    grid-template-rows: 70px 1fr;
    grid-template-columns: 200px 1fr;
    background-color: rgb(34, 33, 33);
    min-height: 100%;
    max-height: fit-content;
}

nav {
    position: relative;
    display: grid;
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: black;
    width: 100%;
    align-items: center;  
    padding-left: 20px;
    grid-template-columns: 200px  1fr 200px;
    border-bottom: solid rgb(53, 52, 52) 2px; 
}

.logo {
    position: relative;
    width: auto;
    height: 65px;
    top: 7px; 
}

h1 {
    /* -webkit-text-stroke: .5px white; */
    color:white;
    grid-column: 2/3;
    font-family: 'Roboto Condensed';
    font-weight:lighter;
}

.navEnd {
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column: 3/4;
}


.newTodoButton {
    display: grid;
    align-content:center;
    width: 30px;
    height: 30px;
    color: aqua;
    border: aqua 2px solid;
    background-color: black;
    border-radius: 3px;
}

.newTodoButton:hover {
    cursor:pointer;
    transform: scale(0.95);
}

.newTodoButton:active {
    cursor:pointer;
    transform: scale(0.8);
}

.userIcon {
    align-self: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid aqua 2px;
}


.sidebar {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: rgb(45, 204, 204);
    height: 100%;
    width: 100%;
    border-right: solid rgb(32, 119, 119) 2px;

}

main {
    padding: 30px;
    display: grid;
    position: relative;
    justify-items: center;
    grid-row: 2/4;
    grid-column: 2/3;
    height:100%;
    width: 100%;
    
}

.formContainer {
    display: grid;
    position:absolute; 
    top: 60px; 
    display:none;
    min-width: 30%;
    min-height: 20%;
    /* justify-content: center; */
    background-color: rgb(34, 33, 33);
    border: solid slategrey 2px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 20px 20px rgb(20, 20, 20);
}

.todoForm {
    display: none;
    position: relative;
    grid-template-rows: 2fr 1fr .5fr;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    
}


.titleDescriptionWrapper {
    grid-row: 1/2;
    grid-column: 1/3;
    
}

#titleInput {
  padding-bottom: 10px;
}

#titleInput, #descriptionInput, #prioritySelect, #dateSelect {
    background-color: rgb(34, 33, 33);
    color: white;
    border: none;
}

#titleInput:focus, #descriptionInput:focus {
    outline: none;
}


#dateSelect::-webkit-calendar-picker-indicator {
    filter: invert(1);  
}

.datePriorityWrapper {
    display:flex;
    grid-column: 1/3;
    justify-content: space-between;
    grid-row: 2/3;
}

/* .title, .description, .priority, .date{
    display: flex;
    flex-direction: column;
} */

.addTodoWrapper {
    display:flex;
    align-items: center;
    justify-content: end;
    gap:7px;
    grid-row:3/4;
    grid-column: 1/3;
}

.addTodoButton {
    color: whitesmoke;
    border: solid 2px aqua;
    background-color: black;
    border-radius: 5px;
}

.cancelTodoButton {
    color: whitesmoke;
    background-color: black;
    border: solid 2px firebrick;
    border-radius: 5px;
}

.cancelTodoButton,.addTodoButton {
    font-weight: 300;
    width: 20%;
} 
.cancelTodoButton:hover ,.addTodoButton:hover {
    transform: scale(0.98);
    cursor: pointer;
}  
.cancelTodoButton:active ,.addTodoButton:active {
    transform: scale(0.9);
    cursor: pointer;
} 




.displayTodos {
    display: grid;
    position: relative;
    background-color: rgb(34, 33, 33);
    width: 40vw;
    height: fit-content;
    /* border:solid black 4px; */
    grid-template-rows: 60px 1fr;
}

.todayDateContainer {
    
    display: grid;
    align-items:center;
    grid-template-columns: 1fr 2fr 4fr;
}

.today {
    color:white;
    font-size: 1.75rem;
    font-weight: bold;
    display:grid;
    justify-content: end;
    align-items: center;
    /* border:solid black 4px */
}

.todaysDate {
    color:rgb(107, 107, 119);
    display:grid;
    padding-left: 10px;
    /* border:solid black 4px; */
    justify-content: start;
    align-items: center;
}

.todoListContainer {
    /* border:solid black 4px; */
    height: 100%;
    padding: 20px;
}

.todoList {
    position:relative;
    font-size: 1rem;
    color:white;
    list-style-type: none;
    border-top: solid slategrey 2px;
}

.todoListItem{ 
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr;
    padding: 5px;
    /* border-top:solid black 2px; */
    border-bottom:solid slategrey 2px;

}

.checkIcon {
    display: grid;
    top: 25px;
    left: 10px;
    position: relative;
    align-items: center;
    grid-column: 1/2;
    border: solid aqua 2px;
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.checkIcon:hover {
    cursor: pointer;
    background-color: green;
}


.checkIcon:active {
    cursor: pointer;
    background-color: green;
    transform: scale(0.8);
}

.todoTitle, .todoDescription, .todoPriority, .todoDate {
    grid-column: 2/3;
    /* disable above for vertical stretch */
}

.priority > label {
    padding-right: 5px;
    color: whitesmoke;
}

.todoDate{
    color: firebrick;
}